<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://owncloud.org/news/">News</a>
        <a class="navbar-item" href="https://owncloud.org/features/">Features</a>
        <a class="navbar-item" href="https://demo.owncloud.org/">Demo</a>
        <a class="navbar-item" href="/">Documentation</a>
        <a class="navbar-item" href="https://owncloud.org/contribute/">Contribute</a>
        <a class="navbar-item" href="https://owncloud.org/support">Support</a>
        <a class="navbar-item" href="https://owncloud.com/">Enterprise Edition</a>
        <!--<div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Product A</a>
            <a class="navbar-item" href="#">Product B</a>
            <a class="navbar-item" href="#">Product C</a>
          </div>
        </div>-->
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://owncloud.org/install/">Download</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
