/**
 * Supplemental Formatting Styles
 */
b,
dt,
strong,
th {
  font-weight: 700;
}

/**
 * Supplemental Navigation Styles
 */
li.nav-item.is-current-page.is-active a.nav-link {
  text-decoration: underline;
  font-style: italic;
}

li.nav-item.is-current-page.is-active ul li.nav-item a.nav-link {
  font-style: normal;
  text-decoration: none;
}

footer {
  overflow: auto;
}

footer div.container p {
  text-align: center;
  margin-top: 20px;
}

footer div.container div.row-full {
  margin: 0 auto;
  margin-left: 3%;
  width: 100%;
  clear: both;
  float: left;
}

footer div.container div.row-full div.col-third {
  float: left;
  width: 33%;
}

blockquote::before {
  content: "\201c";
  float: left;
  font-size: 2.75em;
  font-weight: bold;
  line-height: 0.6em;
  margin-left: -0.6em;
  color: #1d2d44;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quoteblock blockquote div.paragraph p {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
  line-height: 1.65;
  word-spacing: 0.1em;
  letter-spacing: 0;
  font-style: italic;
  text-align: justify;
}

/**
 * Supplemental Responsive Styles
 */
@media screen and (max-width: 600px) {
  footer div.container div.row-full {
    margin-left: 0;
    width: 100%;
  }

  footer div.container div.row-full div.col-third {
    width: 50%;
    margin: 0 auto;
    float: none;
  }
}

@media screen and (min-width: 601px) {
  footer div.container div.row-full {
    margin-left: 0;
    width: 100%;
  }

  footer div.container div.row-full div.col-third {
    width: 33%;
    margin: 0 auto;
  }
}
